.home {
  font-size: 1.8rem;
  .home_title {
    margin: 1.3rem;
  }

  .home_box_1 {
    margin: 0 1.3rem 1.3rem 1.3rem;
    .img1 {
      width: 100%;
      @media screen and (min-width: 760px) {
        width: 50%;
      }
    }
  }

  .home_box_2 {
    margin: 0 1.3rem 1.3rem 1.3rem;
    text-align: left;
    border-left: 6px solid rgb(39, 9, 70);
    background-color: #f4f3f3;
    padding: 1rem 1rem 1rem 1.6rem;
    font-style: italic;

    p {
      &:last-child {
        font-weight: bold;
        margin-top: 0.4rem;
      }
    }
  }

  .home_box_3 {
    margin: 0 1.3rem 1.3rem 1.3rem;
    .img2,
    .img3 {
      width: 100%;
      @media screen and (min-width: 760px) {
        width: 60%;
      }
    }

    .example {
      border: 1px solid gray;
      padding: 1.2rem;
      margin-top: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }

  .home_box_4 {
    margin: 0 1.3rem 1.3rem 1.3rem;
    text-align: center;

    .gpkd,
    .khcn,
    .hmc {
      width: 100%;
      @media screen and (min-width: 760px) {
        width: 50%;
      }
    }

    .doitac {
      margin-right: 3.6rem;
      h4 {
        margin: 1rem;
      }
      .div_img {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.4rem 0;
          font-size: 1.4rem;
          color: #807c7c;
          margin-right: 3rem;
        }
      }
      .img_slider {
        width: 90% !important;
        // height: 20rem !important;
        @media screen and (min-width: 760px) {
          width: 80% !important;
          height: 30rem;
        }
      }

      .slick-next {
        &::before {
          color: #c0bfbf !important;
          font-size: 3.6rem !important;
          position: absolute !important;
          left: 0 !important;
          top: 0 !important;
        }

        &:hover:before {
          color: rgb(138, 138, 143) !important;
        }
      }
    }
  }
  .video {
    width: 100%;
    height: 30rem;

    @media screen and (min-width: 760px) {
      width: 60%;
      height: 44rem;
    }
  }

  .img_box {
    margin: 1.2rem 0;
    position: relative;

    .click {
      display: none;
      position: absolute;
      width: 100%;

      top: 48%;
      right: 0;
      bottom: 48%;
      left: 0;
      background-color: black;

      opacity: 0.5;
      a {
        color: #fff;
        font-weight: bold;
      }
    }

    .quy {
      width: 100%;
      @media screen and (min-width: 760px) {
        width: 50%;
      }
      border: 0.1rem solid var(--color_main);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    &:hover {
      .click {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
